main {
  .card_parent {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .card_box {
      background-color: #c9a3a4;
      width: 600px;
      max-width: 600px;
      padding: 3rem;
      margin-left: -2.4rem;
      padding-left: 5rem;
      h2 {
        color: #fff;
        font-size: 48px;
        font-weight: 500;
      }
      .hr {
        margin-top: 1rem;
        color: #fff;
        width: 83%;
        margin-bottom: 1rem;
        height: 2px;
        border: none;
        background-color: #fff;
        margin-bottom: 2rem;
      }
      h3 {
        font-size: 25px;
        color: #fff;
      }
    }
    .card_box2 {
      background-color: #a7ceff;
      width: 600px;
      max-width: 650px;
      padding: 3rem;
      padding-left: 5rem;
      margin-left: -2rem;
      h2 {
        color: #fff;
        font-size: 48px;
        font-weight: 500;
      }
      .hr {
        margin-top: 1rem;
        color: #fff;
        width: 83%;
        margin-bottom: 1rem;
        height: 2px;
        border: none;
        background-color: #fff;
        margin-bottom: 2rem;
      }
      h3 {
        margin-top: 3.8rem;
        font-size: 25px;
        color: #fff;
      }
    }
    .card_box3 {
      background-color: #a3c9ba;
      width: 550px;
      max-width: 600px;
      padding: 3rem;
      margin-right: -2.2rem;
      padding-left: 5rem;

      h2 {
        color: #fff;
        font-size: 48px;
        font-weight: 500;
      }
      .hr {
        margin-top: 1rem;
        color: #fff;
        width: 83%;
        margin-bottom: 1rem;
        height: 2px;
        border: none;
        background-color: #fff;
        margin-bottom: 2rem;
      }
      h3 {
        font-size: 25px;
        color: #fff;
      }
    }
  }
  .create{
    background-image: url(./../img/png/Rectangle\ \(4\).png);
    background-repeat: no-repeat;
    object-fit: cover;
    width: 100%;
    height: 620px;
    background-size: 100rem;
    background-position: 10% 49%;
    padding: 3rem;
    .credit_box{
      h1{
        font-size: 50px;
        color: #fff;
        font-weight: 500;
        width: 25%;
      }
        .hr{
          margin-top: 2rem;
          height: 2px;
          margin-bottom: 2rem;
          border: none;
          background-color: #fff;
          width: 30%;
        }
        p{
          font-size: 19px;
          color: #fff;
          width: 25%;
          line-height: 1.5;
        }
        h3{
          color: #fff;
          margin-top: 12rem;
          font-size: 25px;
        }
    }
  }
}
